html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background: url('img/pattern2.gif') repeat;
	background-color: #1e004b;
	font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard', 'Comic Neue';
    margin: 0;
    padding: 0;
	color: #ffffff;
	text-align: center;
	background-attachment: fixed;
    overflow-x: hidden;
    box-sizing: border-box;
}

span {
    color: #ffcc00;
    }

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
    position: relative;
    background-color: transparent;

}

.header_fill{
margin-bottom: 10px;
}

.site-header__wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
}

.email{
    display: flex;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;

    background-color: #000010;
    box-shadow: 5px 5px 5px #888888;
    border: 2px solid #00ff00;
    margin: 20px;
}

.nav a {
	color: #222725;
	text-decoration: none;
	margin: 0 10px;
	font-weight: bold;
	text-shadow: 2px 2px #000010;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.nav a.active {
    font-size: 1.7rem;
    font-weight: bold;
    color: #00ff00;
    transform: scale(1.1);
    text-decoration: underline;
}

/* Toggle Container */
.toggle-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#modeText {
  margin-left: 10px;
  font-size: 14px;
  color: #ffcc00;
  vertical-align: middle;
}

/* Hide the checkbox */
#darkModeToggle {
  display: none;
}

/* Style the Label */
.toggle-label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Slider inside the toggle */
.toggle-slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* Dark mode enabled (checkbox is checked) */
#darkModeToggle:checked + .toggle-label {
  background-color: #4CAF50;
}

#darkModeToggle:checked + .toggle-label .toggle-slider {
  transform: translateX(25px);
}

.friends{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.floating-container {
  display: block;
  position: relative;
  width: 100%;
  height: 1vh;
  z-index: 10;
}

.floating-image {
    display: block;
  position: absolute;
  top: -30px;
  left: -100px; /* Start slightly off-screen to the left */
  width: 50px;
  height: auto;
  transform: translateY(-50%) rotate(40deg); /* Center the image vertically */
  animation: float-across 45s linear infinite; /* Apply the animation */
  z-index: -1;
  pointer-events: auto;
}

/* Define the animation */
@keyframes float-across {
  from {
    left: -100px; /* Start off-screen on the left */
  }
  to {
    left: 100vw; /* Move across to off-screen on the right */
  }
}


/* Set defaults for Desktop and mobile */
img {
	max-width: 100%;
	height: auto;
	display: block;
}

.badges{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.badges img {
   width: 88px;
    height: 31px;
  transition: transform .2s;
}

.badges img:hover {
  transform: scale(1.1);
}

.ufo-header{
    visibility: visible;
    display:block;
    justify-content: center;
    align-items: center;
}

.projects-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects-header img{
  width: 100px;
  height: auto;
}

.mirrored {
  transform: scaleX(-1);
}

h1 {
    font-family: Monaco, Helvetica, monospace;
	color: #ffcc00;
	text-align: left;
	text-shadow: 2px 2px #000010;
}

h1 img {
	max-width: 100%;
	height: auto;
}

h2 {
	font-size: 1.5rem;
	margin-top: 0rem;
}

h3 {
	font-size: 1.17em;
    margin-top: 0rem;
}

.highlight {
    color: #ffcc00;
    background: none;
    box-decoration-break: clone;
    padding: 0 5px;
}


p {
	text-align: justify;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 20px 10px 20px;
	text-align: justify;
	position: relative;
	z-index: 1;
	background-color: #1e004b;
	border: 5px solid #00ff00;
	box-shadow: 10px 10px 10px #888888;
}

.container-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #1e004b;
	border: 5px solid #00ff00;
	box-shadow: 10px 10px 10px #888888;
	}

.fun-container {
    display: block;
    flex-direction: column;
    align-items: center;
	margin: 0 auto;
	padding: 20px 20px 10px 20px;
	text-align: justify;
	position: relative;
	z-index: 1;
}

.sidebar-space { display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 100%;
    float: left;
    height: auto;
    position: relative;
    width: 210px;
    padding: 8px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 100%;
    float: left;
    height: auto;
    position: fixed;
    top: 6rem + 1rem;
    width: 210px;
    padding: 8px;
    border-radius: 8px;
    background-color: #1e004b;
    border: 5px solid #00ff00;
    box-shadow: 10px 10px 10px #888888;
 }

 .sidebar h2{
    color: #ffcc00
    }

.main-content {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    padding: 1rem;
    overflow-wrap: break-word;
    border-width: 2px;
    border-radius: 8px;
    background-color: #1e004b;
    border: 5px solid #00ff00;
    box-shadow: 10px 10px 10px #888888;
    }

.menu-bar {
    display: none;
}

.dropdown-menu {
        display: none;
}

.show-on-mobile{
    display: none;
}

@media only screen and (max-width: 600px) {
    .show-on-mobile{
        display: block;
    }
    .hide-on-mobile {
        display: none;
    }
    .mobile-spacer{
        margin-top 70px;
        }

    .container{
        max-width: 800px;
        margin: 0 auto;
        margin-top: 70px;
        background-color: transparent;
        padding: 5px;
        border: 5px solid transparent;
        box-shadow: 10px 10px 10px transparent;
        text-align: justify;
    }

     .menu-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(46, 117, 79, 0.85);
        color: white;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        z-index: 1000;
    }

    .menu-header {
        display: flex;
        align-items: left;
        flex-grow: 1;
        justify-content: left;
    }

    .fa-bars {
    font-size:30px;
    text-align: left;
    }

    .dropdown-menu {
        display: none;
        background-color: rgba(76, 136, 103, 0.80);
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .dropdown-menu a {
        display: block;
        padding: 10px 15px;
        color: white;
        text-decoration: none;
    }

    .dropdown-menu a:hover {
        background-color: rgba(76, 136, 103, 0.90);
    }

	h1 {
		font-size: 1.5rem;
	}

	h1 img {
		display: none;
	}

	h2 {
		font-size: 1.5rem;
		margin-top: 0px
	}

	p,
	ul {
		text-align: left;
	}

    .ben-img {
        float: left;
        box-shadow: 5px 5px 5px #888888;
        margin: 20px;
    }

	img {
		display: block;
		margin: auto;
		width: 100%;
		height: auto;
	}

	.nav {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 50px;
		width: 100%;
		background-color: #000010;
		color: #00ff00;
		padding: 10px;
		margin: 0;
		box-shadow: none;
		border: none;
		z-index: 1;
	}

	.menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
        z-index: 9999; /* High z-index to stay above the menu */
        position: relative;
	}

	.menu-toggle.active+.nav {
		display: flex;
	}


    .badges{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 0.5rem;
    }

    .badges img {
       width: 88px;
        height: 31px;
      transition: transform .2s;
    }
}

.table-container {
	overflow-x: auto;

	table {
		width: 100%;
		border-collapse: collapse;
	}

	table th {
		padding: 8px;
		text-align: center;
	}

	table td {
		padding: 8px;
	}

}

/* ^^^ Set defaults for Desktop and mobile ^^^ */

#hitCounter {
	padding: 10px;
	width: fit-content;
	margin: 0 auto;
	text-align: center;
}

@keyframes ticker {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.cv-em{
    color: #ffcc00;
    font-weight: bold;
}

.ticker {
	display: inline-block;
	animation: ticker 2s ease-in-out;
	color: #ffcc00;
}

.card {
	background-color: #2d006b;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
	border: 2px solid #00ff00;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.about_card {
	background-color: #2d006b;
	padding: 20px;
	border-radius: 8px;
	border: 2px solid #00ff00;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	text-align: justify;
}

.date {
	color: #bbbbbb;
	font-size: 0.9em;
	margin-top: -10px;
}

.degree {
	margin-bottom: 15px;
}

.degree-title {
	font-weight: bold;
	color: #ffcc00;
	font-size: 1.2em;
	margin-bottom: 0px;
}

.institution {
	color: #ffffff;
	font-style: italic;
	margin-bottom: 5px;
	margin-top: 0px;
}

hr {
	border: 1px solid #00ff00;
	margin: 15px 0;
}

.cv-offset{
margin-left: 1.25rem;
}

.skills ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 100%;
}

.skills li {
	background-color: #1e004b;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	color: #ffffff;
}

.skill-em{
    color: #ffcc00;
}
.teaching-table {
	width: 100%;
	border-collapse: collapse;
}

.teaching-table th {
	background-color: #1e004b;
	color: #ffcc00;
	border: 1px solid #00ff00;
	text-align: left;
}


.teaching-table .semester {
text-align: left;
width: 190px;
}

.teaching-table .number {
text-align: right;
width: 120px;
}

.teaching-table td {
	background-color: #2d006b;
	color: #ffffff;
	border: 1px solid #00ff00;
	padding: 8px;
	text-align: left;
}

.teaching-table .total {
    text-align: right;
    border: none;
    color: #ffcc00;
    font-weight: bold;
}

.presentation {
	background-color: #1e004b;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.presentation p {
	margin: 5px 0;
}

em {
	font-style: italic;
	color: #ffcc00;
}

h2, h3 {
	color: #00ff00;
	margin-bottom: 10px;
	margin-top: 5px;
}

article {
	text-align: left;
}

.construction {
	margin: 0 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

p,
ul {
	color: #ffffff;
	margin-bottom: 10px;
	margin-top: 0px;
	list-style-type: none
}

.footer {
	max-width: 222px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	padding: 0px 30px 10px 30px;
	box-shadow: 5px 5px 5px #888888;
	background-color: #000010;
	color: #00ff00;
	border: 2px solid #00ff00;
	z-index: 11;
	position: relative;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.socials a {
  font-size: 24px; /* Adjust icon size */
  color: #00ff00; /* Default icon color */
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth hover effects */
}

.socials a:hover {
  color: #ffcc00; /* Change color on hover */
  transform: scale(1.2); /* Slight zoom effect on hover */
}

a:link {
	color: #00ff00;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #00ff00;
	background-color: transparent;
	text-decoration: underline;
}

a:hover {
	color: #ffcc00;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: #00ff00;
	background-color: transparent;
	text-decoration: underline;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    gap: 1rem;
}

.item{
    flex: 1 0 calc(33.333% - 1rem);
    aspect-ratio: 0.714 / 1;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border: 5px solid #00ff00;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(154,160,185,.05), 0 5px 20px rgba(166,173,201,.2);
    background-color: #1e004b;
    }

.item-final{
    flex: 0 0 calc(33.333% - 1rem);
    }

.item img{
    display: flex;
    justify-content: center;
}

.item-desc{
    text-align: justify;
}