.first-color { 
	background: #fbf9fa; 
}
	
.second-color { 
	background: #fd0054; 
}

.third-color { 
	background: #a80038; 
}

.fourth-color { 
	background: #2b2024; 
}

div{color: black;
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.website-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
*{font-family:"Comic Sans MS", "Comic Sans", cursive;}

body {
  background-color: #fbf9fa;
}
#duckjump {
	color:#a80038;
	font-size: 12px;
}
.linkstyle{
  justify-content: center;
  align-items: center;
  background-color: #a80038;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.linkstyle:hover{
	background-color: #fd0054
}


h1 {
  border: 12px solid #fd0054;
  color: #fbf9fa;
  background-color: #a80038;
  text-align: center;
  font-size: 42px;
  padding: 30px;
  margin: 50px;
  
  
}
h2 {
  font-size: 32px;
  color: #a80038;
  /* background-color: #D62839;
  text-align: center; */
  
  
}
p {
  color:  #fd0054;
  font-size: 15px;
  border: 12px solid #a80038; 
  padding: 30px;
  margin: 50px;
}
